<app-projector-article-detail-page
  [show]="isshowDetails"
  (close)="onClose()"
  [ProjectorArticleDetails]="projectDetailsData"
></app-projector-article-detail-page>

<section class="text-gray-400 bg-gray-900 body-font h-100">
  <div class="container mx-auto">
    <div class="p-4">
      <h2
        class="tracking-widest text-3xl title-font font-medium text-white py-2"
      >
        Projects
      </h2>

      <div class="hidden md:block">
        <app-tags
          [CustomOption]="{
            tagsData: tagsData!,
            disableShowMore: true,
            totalTagsVisible: 0
          }"
        ></app-tags>
      </div>

      <div class="block md:hidden">
        <app-tags
          [CustomOption]="{
            tagsData: tagsData!,
            disableShowMore: false,
            totalTagsVisible: 7
          }"
        ></app-tags>
      </div>
    </div>

    @if(projectsLoader&&Projects.length===0){
      <div class="w-full h-96">
        <app-loader></app-loader>
      </div>
    }

    @if(!projectsLoader&&Projects.length!==0){
    <div class="flex flex-wrap">
      @for (project of Projects; track $index) {
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <app-projector-article-card
          [ProjectorArticleData]="project"
          (click)="showDetails(project)"
        ></app-projector-article-card>
      </div>
      }
    </div>
    } @if(!projectsLoader&&Projects.length===0){
      <div class="w-full h-96">
    <app-no-data></app-no-data>
  </div>
    }
    <div class="flex justify-center py-2"  >
      <button (click)="loadMore()" [disabled]="Projects.length<9"
      class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-md"
    >
     Load More
    </button>
    </div>
    
  </div>
</section>
