<footer class="text-gray-400 bg-gray-900 body-font py-2" >


 
  <div class="  mx-auto flex flex-wrap justify-center items-center">
    <span>{{currentYear}} Kanishka Naik</span>
  </div>

    <div class="px-5 pb-5 pt-1 mx-auto flex flex-wrap justify-center items-center">

        <a
        href="https://github.com/iamkanishka"
        class="ms-0 me-3 mt-3 mb-3"
        target="_blank"
      >
        <app-social-icons [icon]="'Github'"></app-social-icons>
      </a>

      <a
        href="https://www.linkedin.com/in/kanishka-naik-6b5180191/"
        target="_blank"
        class="m-3"
      >
        <app-social-icons [icon]="'LinkedIn'"></app-social-icons>
      </a>
      <a href="https://medium.com/@kanishkanaik" target="_blank" class="m-3">
        <app-social-icons [icon]="'Medium'"></app-social-icons>
      </a>

      <a
        href="https://twitter.com/NaikKanishk1831"
        target="_blank"
        class="m-3"
      >
        <app-social-icons [icon]="'Twitter'"></app-social-icons>
      </a>
        

 
    </div>
  </footer>