<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <section>
  
    <span class="startbganimate"></span>
    <span class="startbganimate" ></span>
    <span class="startbganimate" ></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
 

</section> -->
