
<!-- <section>
  // <div class="container mx-auto h-screen">
//   <router-outlet></router-outlet>
// </div>

  
    <span class="startbganimate"></span>
    <span class="startbganimate" ></span>
    <span class="startbganimate" ></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
    <span class="startbganimate"></span>
 

</section> -->
