<section class="text-gray-400 bg-white body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex justify-between">
      <h2 class="tracking-widest text-3xl title-font font-medium text-black">
        Projects
      </h2>
      <div>
        <button
          [routerLink]="['/admin/article/list']"
          class="inline-flex items-center me-3 bg-black py-1 px-3 focus:outline-none hover:bg-gray-200 hover:text-black rounded text-white mt-4 md:mt-0 border-1 border-gray-600"
        >
          Go to Articles
        </button>

        <button
          [routerLink]="['/admin/project/add']"
          class="inline-flex items-center bg-black py-1 px-3 focus:outline-none hover:bg-gray-200 rounded hover:text-black text-white mt-4 md:mt-0 border-1 border-gray-600"
        >
          Add Project
        </button>
      </div>
    </div>



    <div>
      @for (item of categoryData; track $index) {
        <button
            (click)="selectCategory(item.value)"
            [ngClass]="catergoryTitle === item.value ? 'border-4 border-indigo-500/100' : null"
            class="py-2 my-1 px-4 shadow-md no-underline rounded-full bg-gray-50 font-sans font-semibold text-xs border-blue btn-primary focus:outline-none active:shadow-none mr-2"
            [ngStyle]="{ color: 'black' }"
          >
             {{item.name}}
          </button>
        }
    </div>
    
    <div class="hidden md:block">
      <app-tags
        [CustomOption]="{
          tagsData: tagsData!,
          disableShowMore: true,
          totalTagsVisible: 0,
          clickable: true 
        }"
        (emitSelectedtag)="selectTag($event)"
      ></app-tags>
    </div>


    <div class="overflow-x-auto my-8">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-2 table-fixed"
      >
        <thead
          class="text-xs text-white uppercase bg-black dark:bg-gray-700 dark:text-white"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Title</th>
            <th scope="col" class="px-6 py-3">Descrption</th>
            <th scope="col" class="px-6 py-3">Image</th>

            <th scope="col" class="px-6 py-3">Github Link</th>
            <th scope="col" class="px-6 py-3">Medium Link</th>
            <th scope="col" class="px-6 py-3">LinkedIn Link</th>
            <th scope="col" class="px-6 py-3">Category</th>
            <!-- <th scope="col" class="px-6 py-3">Tags</th> -->

            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (project of Projects; track project.id; ; let index = $index) {

          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-prewrap dark:text-white"
            >
              {{ project.title }}
            </th>
            <td class="px-4 py-3 w-3/6">{{ project.description }}</td>
            <td class="px-6 py-4">
              <img
                [src]="project.imageURL"
                [alt]="project.title"
                width="50"
                height="40"
                srcset=""
              />
            </td>

            <td class="px-6 py-4">
              @if (project.githubLink != '') {

              <app-social-icons [icon]="'Github'"></app-social-icons>

              } @else {
              <span>NA</span>
              }
            </td>
            <td class="px-6 py-4">
              @if (project.mediumLink != '') {
              <app-social-icons [icon]="'Medium'"></app-social-icons>
              } @else {
              <span>NA</span>
              }
            </td>

            <td class="px-6 py-4">
              @if (project.linkedInLink != '') {
              <app-social-icons [icon]="'LinkedIn'"></app-social-icons>

              } @else {
              <span>NA</span>
              }
            </td>
             <td class="px-6 py-4">

                {{project.categories.join(", ")}}
            </td> 

            <td class="px-6 py-4 cursor-pointer">
              <a
                (click)="redirectTOEdit(project)"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Edit</a
              >/
              <a
                (click)="DeleteProject(project.id, index)"
                class="font-medium text-red-600 dark:text-blue-500 hover:underline"
                >Delete</a
              >
            </td>
          </tr>
          } @empty { Empty list of Projects }
        </tbody>
      </table>
    </div>
  </div>
</section>
